.idea/aws.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log
*.jar
*.war
*.ear
*.nar
hs_err_pid*

# IDE specific files
# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
# Eclipse
.classpath
.project
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
.nb-gradle/
build/
# VS Code
.vscode/

# Operating System Files
# Mac
.DS_Store
.AppleDouble
.LSOverride
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Other
*.zip
*.tar.gz
*.rar

# Specific to some CI/CD or build tools
.terraform/
*.tfstate
*.tfstate.backup

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node modules (if you ever add frontend parts with Node.js)
node_modules/
dist/
dist-ssr/

